fastapi
uvicorn[standard]
beanie>=1.26.0,<2.0.0
motor>=3.3.0,<3.8.0
python-jose[cryptography]
bcrypt>=4.0.0
pydantic-settings
pydantic[email]
httpx
httpx-oauth
python-multipart
passlib
python-dateutil
eval_type_backport
boto3
